//- This pug contains biographical information for Norman Lew

extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Name, bio, and skills
        h1 Norman Lew

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am a graduate of Bellevue College with a bachelor's degree in Computer Science.  I am currently a full stack developer in training.
     
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li Express
          li HTML
          li CSS
          li JAVA
          li SQL
        h6 Contact Info

        //- Contact information
        ul
          li 999-999-9999
          li norman@norman.com

        //- Social media and code repository
        a.button.expanded(href='https://www.linkedin.com/in/norman-lew-b32a28b') LinkedIn
        a.button.expanded(href='https://github.com/normanlew') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  