//- This pug shows the main webpage

extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Portfolio of Norman Lew

      p.lead.text-light
        | This portfolio highlights some of my more outstanding fullstack development projects
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- Display each project image with link to each project page
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h5 #{project.project_name}
      
